fastapi==0.110.0 # Use the specific version you need or a recent one
uvicorn[standard]==0.29.0 # Use the specific version you need or a recent one
xgboost==3.0.0
numpy==1.26.4 # Often a dependency, good to include
scikit-learn==1.6.1
scipy==1.15.2
pandas==2.2.3
pgeocode==0.5.0
geopy==2.4.1
matplotlib==3.10.1
